body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img#logo{
    width: 110px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
img#cart{
    width: 40px;
    height: 20px;
}
nav#cat{
    margin-left: 150px;
    margin-top: -30px;
    font-size: 20px;
}
section.search{
    margin-left: 280px;
    margin-top: -1%;
}
input{
    box-sizing: content-box;
    border-radius: 30px;
    background-color: rgba(220, 220, 220, 0.729);
    padding: 20px 10px;
    text-align: left;
    margin-top: -1%;
    width: 50%;
}
#head1{
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
#head2{
    text-decoration: none;
    color:black;
    margin-right: 25px;
}
#head3{
    text-decoration: none;
    margin-right: 20px;
}
#head4{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    border: 2px solid black;
    padding: 12px 8px;
    font-weight: bolder;
}
#head5{
    text-decoration: none;
    color: white;
    margin-right: 5px;
    border: 2px solid black;
    padding: 12px 8px;
    background-color: black;
    
}
#head6{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-bottom: -18px;
    border: 2px solid black;
    padding: 12px 9px;
}
.header1{
    margin-left: 62%;
    margin-top: -3%;
    font-size: 20px;
}
#bck{
    width: 100%;
    height: 30%;
}
.inscript{
    position: relative;
    top: -400px;
    left: 100px;
    background-color: white;
    width: 560px;
    height: 150px;
}
.section2{
    margin-top: -200px;
    margin-left: 30px;
}
.section2 h2{
    margin-right: 5px;
    font-weight: bolder;
}
#course1{
    margin-left: 30px;
}
#course2{
    margin-left: 100px;
    margin-top: -40px;
}
#course3{
    margin-left: 150px;
    margin-top: -40px;
}
#course4{
    margin-left: 300px;
    margin-top: -40px;
}
#course5{
    margin-left: 400px;
    margin-top: -40px;
}
#course6{
    margin-left: 500px;
    margin-top: -40px;
}
#course7{
    margin-left: 650px;
    margin-top: -40px;
}
.tab-bar{
    margin-left: 30px;
}
#tab{
    text-decoration: none;
    color: black;
    padding: 10px 3px;
    border: 2px solid black;
    font-weight: bolder;
    margin-bottom: 10px;
}
#py1{
    margin-top: auto;
    margin-bottom: -60px;
    width: 19%;
}
#py2{
    margin-bottom: -100px;
    margin-left: 15px;
    width: 19%;
}
#py3{
    margin-bottom: -90px;
    margin-left: 15px;
    width: 19%;
}
#py4{
    margin-bottom: -115px;
    margin-left: 15px;
    width: 19%;
}
#py5{
    margin-bottom: -83px;
    margin-left: 15px;
    width: 19%;
}
.shapes{
    display: flex;
    /*margin-left: 30px;*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(220, 220, 220, 0.201);
    margin-top: 100px;
}
#shapes1{
    margin-top: 20px;
    margin-left: 30px;
}
h2{
    margin-left: 30px;
    font-weight: 60%;
    margin-top: 5%;
}
#lady1{
    margin-bottom: -60px;
    margin-left: 30px;
    width: 19%;

}
#lady2{
    margin-bottom: -72px;
    margin-left: 8px;
    width: 19%;
}
#lady3{
    margin-bottom: -80px;
    margin-left: 8px;
    width: 19%;
}
#lady4{
    margin-bottom: -64px;
    margin-left: 8px;
    width: 19%;
}
#lady4{
    margin-bottom: -65px;
    margin-left: 8px;
    width: 19%;
}
.options{
    margin-top: 10%;
    background-color: rgba(215, 208, 208, 0.175);
    margin-bottom: -10%;
}
.options h3{
    margin-left: 25px;
    margin-top: 30px;
}

.topic1{
    margin-left: 25px;
    display: grid;
    line-height: 32px;
}
.topic2{
    display: grid;
    justify-content:space-around;
    margin-right: 30%;
    margin-top: -16%;
    line-height: 32px;
}
.topic3{
    display: grid;
    justify-content: space-around;
    margin-top: -16%;
    margin-left: 100px;
    line-height: 32px;
}
.topic4{
    display: grid;
    justify-content: right;
    margin-top: -10%;
    line-height: 32px;
}
#topiclink{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 3px 3px 8px 8px;
    margin-bottom: 10%;
    margin-left: 25px;
}
#ins{
    width: 500px;
    height: 500px;
}
.instructor{
    margin-top: 15%;
    margin-left: 20%;
}
.man{
    text-align: center;
    margin-top: -30%;
}
#start{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20%;
}
.mid{
    margin-top: 20%;
    background-color:  rgba(215, 208, 208, 0.175);
}
.mid h2{
    text-align: center;
}
#mid1{
    text-align: center;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#Ud1{
    width: 192px;
    height: 32px;
}
.femnote{
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 150px;

}
.femn{
    margin-bottom: 30px;
}
#femlink{
    margin-left: 20%;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    background-color: black;
    padding: 8px 8px 3px 3px;
    margin-top: -20%;
}
#female{
    display:flexbox;
    margin-left: 25%;
    margin-top: -300px;
    width: 500px;
    height: 500px;
}
.ladder{
    margin-top: 20%;
}

